@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    margin: 50px auto;
    margin-bottom: 20px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.nav {
    display: flex;
}

.justify-content-end {
    text-align: right;
}

a {
    color: #aaa;
}

