<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span><a href="/">Home</a></span>
    <span><a href="/submit">Submit Ticket</a></span>
    <span><a href="/logout">Logout</a></span>
    <h2>New Tickets</h2>
    {% for item in tickets %}
        {% if item.status == 'New' %}
        <p>Title: <a href="/ticket/{{item.id}}/">{{item.title}}</a>
        Assigned: {{item.assigned}}
        Reported by: <a href="/user/{{item.creator.id}}">{{item.creator}}</a></p>
        {% endif %}
    {% endfor %}
    <h2>In Progress Tickets</h2>
    {% for item in tickets %}
        {% if item.status == 'In Progress' %}
        <p>Title: <a href="/ticket/{{item.id}}/">{{item.title}}</a>
        Assigned: <a href="/user/{{item.assigned.id}}">{{item.assigned}}</a>
        Reported by: <a href="/user/{{item.creator.id}}">{{item.creator}}</a></p>
        {% endif %}
    {% endfor %}
    <h2>Done Tickets</h2>
    {% for item in tickets %}
        {% if item.status == 'Completed' %}
        <p>Title: <a href="/ticket/{{item.id}}/">{{item.title}}</a>
        Assigned: <a href="/user/{{item.assigned.id}}">{{item.assigned}}</a>
        Reported by: <a href="/user/{{item.creator.id}}">{{item.creator}}</a></p>
        {% endif %}
    {% endfor %}
</body>
</html>