<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span><a href="/">Home</a></span>
    <span><a href="/submit">Submit Ticket</a></span>
    <span><a href="/logout">Logout</a></span>

    <h1>{{ticket.id}} {{ ticket.title}} </h1>
    <h3>Info</h3>
    <p>Status: {{ ticket.status }}</p>
    <p>Submitted on: {{ticket.created_at}}</p>
    <p>Reported by: <a href="/user/{{ticket.creator.id}}">{{ ticket.creator }}</a></p>
    <h3>Description</h3>
    <p>{{ ticket.description }}</p>
    <p>Assigned: {{ ticket.assigned }}</p>
    <p>Completed: {{ ticket.completed }}</p>
    {% if ticket.status == 'New' %}
    <span><a href="/edit/{{ticket.id}}/">Edit</a></span>
    <span><a href="#">Assign Ticket to You</a></span>
    <span><a href="#">Mark Ticket as invalid</a></span>
    {% elif ticket.status == 'In Progress' %}
    <span><a href="/edit/{{ticket.id}}/">Edit</a></span>
    <span><a href="#">Complete</a></span>
    <span><a href="#">Return Ticket</a></span>
    <span><a href="#">Mark Ticket as Invalid</a></span>
    {% else %}
    <span><a href="/edit/{{ticket.id}}/">Edit</a></span>
    <span><a href="#">Return Ticket</a></span>
    <span><a href="#">Mark Ticket as Invalid</a></span>
    {% endif %}
</body>
</html>