<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span><a href="/">Home</a></span>
    <span><a href="/submit">Submit Ticket</a></span>
    <span><a href="/logout">Logout</a></span>
    {% comment %} {% for item in tickets %}
        <p>Title {{item.title}} Assigned: {{item.assigned}} Reported by: {{item.creator}}</p>
    {% endfor %} {% endcomment %}
    {% for item in tickets %}
        {% if item.status == 'New' %}
        <h2>New Tickets</h2>
        <p>Title {{item.title}} Assigned: {{item.assigned}} Reported by: {{item.creator}}</p>
        {% elif item.status == 'In Progress'%}
        <h2>In Progress Tickets</h2>
        <p>Title {{item.title}} Assigned: {{item.assigned}} Reported by: {{item.creator}}</p>
        {% else %}
        <h2>Done Tickets</h2>
        <p>Title {{item.title}} Assigned: {{item.assigned}} Reported by: {{item.creator}}</p>
        {% endif %}
    {% endfor %}
</body>
</html>