<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span><a href="/">Home</a></span>
    <span><a href="/submit">Submit Ticket</a></span>
    <span><a href="/logout">Logout</a></span>
    <h1>{{creator.first_name}}</h1>
    <h3>{{creator.tagline}}</h3>
    <h3>{{creator.email}}</h3>

    <h2>Filed Tickets</h2>
    {% for item in tickets %}
        {% if item.creator == request.user %}
        <p>Title: <a href="/ticket/{{item.id}}/">{{item.title}}</a>
        Assigned: <a href="/user/{{item.assigned.id}}">{{item.assigned}}</a>
        Reported by: <a href="/user/{{item.creator.id}}">{{item.creator}}</a></p>
        {% endif %}
    {% endfor %}
    <h2>In Progress</h2>
    {% for item in tickets %}
        {% if item.status == 'In Progress' and item.assigned == request.user %}
        <p>Title: <a href="/ticket/{{item.id}}/">{{item.title}}</a>
        Assigned: <a href="/user/{{item.assigned.id}}">{{item.assigned}}</a>
        Reported by: <a href="/user/{{item.creator.id}}">{{item.creator}}</a></p>
        {% endif %}
    {% endfor %}
    <h2>Completed</h2>
    {% for item in tickets %}
        {% if item.status == 'Completed' and item.assigned == request.user %}
        <p>Title: <a href="/ticket/{{item.id}}/">{{item.title}}</a>
        {% comment %} Assigned: <a href="/user/{{item.assigned.id}}">{{item.assigned}}</a> {% endcomment %}
        Reported by: <a href="/user/{{item.creator.id}}">{{item.creator}}</a></p>
        {% endif %}
    {% endfor %}
</body>
</html>