<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span><a href="/">Home</a></span>
    <span><a href="/submit">Submit Ticket</a></span>
    <span><a href="/logout">Logout</a></span>
    <h1>{{creator.first_name}}</h1>
    <h3>{{creator.tagline}}</h3>
    <h3>{{creator.email}}</h3>


    {% for item in tickets %}
    <ul>
    <li>Title: {{item.title}} Assigned: {{item.assigned}} Reported by: <a href="/user/{{item.creator.id}}">{{item.creator}}</a></li>
    </ul>
    {% endfor %}
</body>
</html>